* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #141C2F;
  font-family: 'IBM Plex Mono', monospace;
  color: #fff;
  box-sizing: border-box;
}

.main-container {
  width: 50%;
  margin: 5% auto;
}

.input-container {
  margin-top: 5%;
}

.input-field {
  background-color: #1F2A48;
  display: inline-block;
  width: 70%;
  margin-right: 10px;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  padding: 15px 20px;
}

.input-field::placeholder {
  color: #cccccc;
}

.input-field:focus {
  background-color: #1F2A48;
  box-shadow: none;
  border: 1px solid #cccccc;
  color: #fff;
}

.submit-btn {
  display: inline-block;
  padding: 14px 30px;
}

.profile-container {
  background-color: #1F2A48;
  margin-top: 5%;
  padding: 8% 10%;
}

.stats-header, .stats-data, .links-one {
  display: flex;
  justify-content: space-between;
}

.avatar-container {
}

.user-details {

}

.avatar {
  width: 15%;
  border-radius: 100%;
}