* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #141C2F;
  font-family: 'IBM Plex Mono', monospace;
  color: #fff;
  box-sizing: border-box;
}

.error {
  color: #ef6565;
}

.null-value {
  color: #808080;
}

.main-container {
  width: 50%;
  margin: 5% auto;
}

.input-container {
  margin-top: 5%;
}

.input-field {
  background-color: #1F2A48;
  display: inline-block;
  width: 79%;
  margin-right: 10px;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  padding: 15px 20px;
}

.input-field::placeholder {
  color: #cccccc;
}

.input-field:focus {
  background-color: #1F2A48;
  box-shadow: none;
  border: 1px solid #cccccc;
  color: #fff;
}

.submit-btn {
  display: inline-block;
  padding: 14px 30px;
  background-color: #0079FE;
}

.profile-container {
  background-color: #1F2A48;
  margin-top: 5%;
  padding: 8% 9%;
  border-radius: 15px;
}

.stats-header, .stats-data, .links-one {
  display: flex;
  justify-content: space-between;
}

.avatar {
  width: 100%;
  border-radius: 100%;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 1.4rem;
}

.date-joined {
  font-size: 0.9rem;
  color: #cccccc;
}

.username {
  color: #0079FE;
}

.bio {
  margin-top: 8%;
  font-size: 1rem;
  line-height: 1.6;
  color: #f0f0f0;
}

.git-stats {
  background-color: #141C2F;
  padding: 4% 20% 4% 10%;
  border-radius: 10px;
  margin-top: 8%;
}

.stats-header span {
  font-size: 0.8rem;
  color: #cccccc;
}

.stats-data span {
  font-weight: 600;
  font-size: 1.1rem;
}

.contact-container {
  margin-top: 10%;
  margin-bottom: 10%;
}

.links-one {
  font-size: 1rem;
  margin-top: 6%;
}

.view-profile-btn {
  text-align: center;
  text-decoration: none;
  background-color: #006fe6;
  color: #fff;
  display: block;
  padding: 16px 30px;
  border-radius: 8px;
  font-size: 0.9rem;
}

.view-profile-btn:hover {
  background-color: #0079FE;
}

@media (min-width: 320px) and (max-width: 480px) {

  body { margin: 0 5%; }

  .main-container { margin-top: 15%; }

  .main-container { width: 100%; }

  .input-container { margin-top: 10%; }

  .input-field {
    width: 100%;
    display: block;
  }

  .submit-btn {
    margin-top: 8%;
    margin-bottom: 5%;
    width: 100%;
  }

  .profile-container { margin-top: 15%; }

  .avatar-container { text-align: center; }

  .avatar { width: 50%; }

  .top-container {
    margin-top: 10%;
    display: block;
  }

  .username { margin-top: 3%; }

  .bio { font-size: 1.1rem; }

  .git-stats { padding: 8% 10%; }

  .links-one { display: block; }

}